.homecomponent{
    font-family: Poppins,Arial;
    background-color: #242428;
}

.homenavbardiv{
    overflow: hidden;
    position:sticky;
    top: 0px;
    z-index: 15;
}
/* .animecontent{
    background-color: #242428;
} */

.endpagesocialmedia{
    margin-left: 20px;
    border-bottom: 1px solid rgba(255,255,255,.2);
    padding-bottom: 20px;
    width: 97.5%;
}

.endpagelogo{
    border-right: 1px solid rgba(255,255,255,.2);
    padding-right: 30px;
    margin-right: 20px;
}

.atozlisthead{
    color: white;
    margin-bottom: 0;
    margin-left: 20px;
    margin-top: 20px;
    padding-right: 25px;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1em;
    display: inline-block;
    border-right: 1px solid rgba(255,255,255,.2);
}

.atozlisttext{
    color: white;
    margin-bottom: 0;
    margin-left: 20px;
    margin-top: 23px;
    font-size: 1.2em;
    line-height: 1em;
}
